<html>
    <head>
        <title>Ant's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Ant's blog</a></h1>
        </div>

        <div>
            <p>pulished : 14.06.2014, 12:14</p>
            <h2><a href="">My first Post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget ... 이하 생략 </p>
        </div>

        <div>
            <p>published : 14.06.2014, 12:14</p>
            <h2><a href="">My second Post</a></h2>
            <p>Aenean ... 이하 생략</p>
        </div>
    </body>
</html>